{% extends 'base.html'%}
{% block content %}

    <h1>{{ title }}</h1><br>
    <a href="{% url 'dog_diary' %}">Diary</a>

     <table class="table">
      <thead>
        <tr>
          <th scope="col">Dogs</th>
          <th scope="col">Owners</th>
          <th scope="col">Notes</th>
            {% if show_images %}
              <th scope="col">Image</th>
            {% endif %}
          <th style="min-width: 250px;">Bookings</th>
        </tr>
      </thead>
     <tbody>
        {% for item in objects %}
        <tr>
            <td><a href="{% url 'dog_edit' item.id %}">{{ item.name }}</a>{% if item.nights > 0 %}({{ item.nights }}){% endif %}</td>
            <td>
                {% if item.owners_link %}
                    <a href="{% url 'note' item.owners_link.id %}">{{ item.owners_link.heading }}</a>
                {% else %}
                    {{ item.owners }}
                {% endif %}
            </td>
            <td>
                {% if item.notes %} {{ item.notes }}<br> {% endif %}
                Approved: {{ item.approved }}

            </td>
                    {% if show_images %}
                    <td>
                        {% if item.image %}
                        <img src="{{ item.image.url }}" height="120"/>
                        {% endif %}
                    </td>
                    {% endif %}
            <td>
                {% for booking in item.bookings %}
                {{ booking.short_name }}<br>
                {% endfor %}
                <a class="btn btn-yak btn-sm" href="{% url 'booking' item.id %}">Add booking</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    {% if edit_mode %}
        <h1>Edit Mode</h1><br>
        <form action="{% url 'dog_edit' dog.id %}" class="form-inline my-2 my-lg-0" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    {% else %}
        <h1>Add Dog</h1><br>
        <form action="{% url 'dogs' %}" class="form-inline my-2 my-lg-0" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
     {% endif %}
        <table class="table-primary">
            <tbody>
                <td>
                    <label class="form-label">Dog's name</label>
                    <input type="text" name="name" class="form-control" style="min-width:200px"
                    {% if edit_mode %} value = "{{ dog.name }}" placeholder = "{{ dog.name }}" {% endif %}
                    >
                </td>
                <td class="p-3">
                    <label class="form-label">Owners</label>
                    <input type="text" name="owners" class="form-control" style="min-width:200px" {% if edit_mode %} value = "{{ dog.owners }}" placeholder = "{{ dog.owners }}" {% endif %}>
                    <select name="owners_link" class="form-control" id="id_owners_link">
                         <option value="" selected>[Select]</option>
                        {% for person in people %}
                         <option value="{{ person.id }}">{{ person.heading }}</option>
                        {% endfor %}
                    </select>

                </td>
                <td class="p-3">
                    <label class="form-label">Notes</label>
                    <input type="text" name="notes" class="form-control" style="min-width:200px"
                    {% if edit_mode %} {% if dog.notes %} value = "{{ dog.notes }}" placeholder = "{{ dog.notes }}" {% endif %} {% endif %}>

                    <select name="approved" class="form-control" id="id_approved">
                        {% for option in options %}
                         <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>


                </td>
                <td class="p-3">

                    <label class="form-label">Picture</label>
                    <input type="file" name="image" class="form-control" style="min-width:200px" accept="image/*">
                </td>
                <td>
                    <p></p>
                    <button type="submit" class="btn btn-yak">{% if edit_mode %} Update Details {% else %} Add dog {% endif %}</button>
                </td>
            </tbody>


        </table>
     </form>
            <br><br>
            <br><br>

{% endblock %}