<nav class="navbar navbar-light navbar-expand-xl" style="background-color: #C9E8FF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Delicium</a>

    {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" href="{% url 'diary' %}">Diary</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'notes' %}">Notes</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'quotes' %}">Quotes</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'birthdays' %}">Birthdays</a></li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item nav-link">Hello {{ user.first_name }}</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Log out</a></li>
      </ul>
    {% else %}
      <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
      </ul>
    {% endif %}
  </div>
</nav>