{% extends 'base.html'%}
{% block content %}

    <h1>{{ object }}</h1>
    {% if object.parent %}
        Parent: <a href="{% url 'note' object.parent.id %}">{{ object.parent_text }}</a>
    {% endif %}

            <h3>Create Note</h3>
             <form action="{% url 'note' object.id %}" class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                 <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
                <table class="table-primary">
                    <tbody>
                        <td class="p-3">
                            <label class="form-label">Category:</label>
                        </td>
                        <td class="p-3">
                            <select class="form-select" name="category" id="id_category" aria-label=".form-select-lg example">
                              <option selected>[Select]</option>
                                 {% for category in categories %}
                                    <option value='{{category.id}}'>{{ category.name }}</option>
                                 {% endfor %}
                            </select>
                        </td>
                        <td class="p-3">
                            <button type="submit" class="btn btn-primary">Add note</button>

                        </td>
                    </tbody>
                </table>
                <p></p>
            </form>
<hr>
    <table class="table">
      <tbody>
        {% for item in children %}
            {% ifchanged item.category %}
                  <thead>
                    <tr class="d-flex">
                      <th class="col-1">Order</th>
                      <th class="col-9">{{ item.category }}</th>
                      <th class="col-2">Control</th>
                    </tr>
                  </thead>
            {% endifchanged %}
            <tr class="d-flex">
                <td class="col-1">
                    <a class="btn btn-info" href="{% url 'up' item.id %}">U</a>
                    <a class="btn btn-info" href="{% url 'down' item.id %}">D</a>
                </td>
                <td class="col-9">{{ item.chain }} <a href="{% url 'note' item.id %}">{{ item.text }}</a></td>
                <td class="col-2">
                    <a class="btn btn-primary" href="{% url 'note' item.id %}">Select</a>
                    <a class="btn btn-danger" href="{% url 'delete_note' item.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}