{% extends 'base.html'%}
{% block content %}

<style>
    .green {background-color:green;}
    .amber {background-color:orange;}
    .grey {background-color:grey;}
</style>

<div class="row">
    <div class="col-sm-4">
        <h2>Solution: {{word}}</h2>
        <table class='table table-sm' style="text-align: center;">
            {% for word in input_array %}
                <tr>
                {% for letter, colour in word %}
                    <td style="background-color: {{ colour }}; color: white; font-weight: bold;">{{ letter | capfirst }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        Future Average Score: <b>{{ score }}</b> (originally 3.47)<br>
        {{ message }}<br><br>
        <a href="{% url 'wordle_test' %}" class='btn btn-yak'>Redo</a><br>
    </div>
    <div class="col-sm-4">
        <h2>Second Word</h2>
        {% for word, count in second_word_array %}
            {% if count > 3 %}
                {{ word | upper }}: {{ count }}<br>
            {% endif %}
        {% endfor %}<br>

    </div>
</div>
<div class="row">
    {% for x, number in attempts_range %}
        {% if number > 1 %}
        <div class="col-sm-2">
            <b>{{ x }} att<br>({{ number }})</b><br>
            {% for word in words %}
                {% if word.attempts == x %}<a href="{% url 'wordle_test' word.id %}" >{{ word.upper }}</a>{% if word.last_reviewed %} {{ word.last_reviewed }}{% endif %}<br>{% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}


</div>




{% endblock %}